* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.page-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px 0;
    background-color: #000000;
}

.header-logo{
    display: block;
}

.main-banner{
    width: 100%;
    display: block;
}

.top-infocard{
    padding: 80px 0 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-infocard-text{
    max-width: 776px;
    text-align: center;
    margin-bottom: 65px;
}

.top-infocard-subtitle{
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

.top-infocard-title{
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

.top-infocard-description{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.top-cards{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 20px;
    padding: 74px 0;
}

.top-card{
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0 ,0, 0.23);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:26px 26px 34px;
}

.top-card-image{
    display: block;
    margin-bottom: 26px;
}

.top-card-description{
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.middle-grids-wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 32px;
    position: relative;
    bottom: -80px;
    padding: 0 94px 0;
    height: 442px;
    width: 100%;
}

.middle-grids{
    padding: 0 26px;
    background: #E0E0E0;
}

.middle-grid{
    height: 100%;
    width: 100%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}
.div1{
    background-image: url(../images/middle-grid-image-01.png);
    background-position: center;
    background-size: cover;
}

.div2{
    background-image: url(../images/middle-grid-image-02.png);
    background-position: center;
    background-size: cover;
}

.div3{
    background-image: url(../images/middle-grid-image-03.png);
    background-position: center;
    background-size: cover;
}
.bottom-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 16px;
    padding: 74px 75px 0;
    margin-top: 138px;
}

.bottom-card{
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0 ,0, 0.23);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:26px 26px 34px;
}

.bottom-card-image{
    display: block;
    margin-bottom: 26px;
}

.bottom-card-description{
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.bottom-infocard{
    margin: 142px 0 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom-infocard-text{
    max-width: 550px;
}

.bottom-infocard-title{
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 18px;
    text-align: center;
}

.bottom-infocard-description{
    line-height: 24px;
    font-size: 16px;
    text-align: center;
}

.bottom-infocard-image-desktop{
    padding-top: 32px;
    width: 80%;
    min-width: 660px;
}

.page-footer{
    padding: 38px 0;
    flex-direction: column;
    align-items: center;
    display: flex;
    background: #000000;
}

.footer-icons{
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}

.footer-icon{
    margin: 0 8px;
}

.footer-text{
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;
}

@media screen and (max-width: 414px){
    .main-banner-desktop{
        display: none;
    }
}

@media screen and (min-width: 415px) {
    .main-banner-mobile{
        display: none;
    }
}

@media screen and (max-width: 700px){
    .bottom-infocard-image-desktop{
        display: none;
    }
}

@media screen and (min-width: 701px){
    .bottom-infocard-image-mobile{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .top-cards{
        grid-template-columns: 1fr;
        padding:36px 26px;
    }
    
    .bottom-cards{
        grid-template-columns: 1fr;
    }

    .middle-grids{
        padding: 0 26px;
    }

    .middle-grids-wrapper{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-content: center;
        gap: 14px;
        position: relative;
        bottom: -60px;
        padding: 30px 23px 0;
        height: 500px;
    }
    
    .middle-grid{
        width: 100%;
        height: 100%;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    }
    
    .div1{
        grid-area: divtop1;
    }
    
    .div2{
        grid-area: divtop2;
    }
    
    .div3{
        grid-area: divbottom;
    }

    .page-footer{
        padding-bottom: 26px;
    }

    .footer-text{
        max-width: 280px;
        text-align: center;
    }
}

@media screen and (max-width: 992px){
    .top-infocard{
        flex-direction: column;
    }

    .top-infocard-text{
        margin: 0 0 68px;
    }

    .top-infocard-subtitle{
        font-size: 28px;
    }

    .top-infocard-title{
        margin-bottom: 20px;
        font-size: 28px;
    }* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        font-family: 'Inter', sans-serif;
        color: #000000;
    }
    
    .page-header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 28px 0;
        background-color: #000000;
    }
    
    .header-logo{
        display: block;
    }
    
    .main-banner{
        width: 100%;
        display: block;
    }
    
    .top-infocard{
        padding: 80px 0 96px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .top-infocard-text{
        max-width: 776px;
        margin-right: 124px;
    }
    
    .top-infocard-subtitle{
        font-weight: 400;
        font-size: 32px;
        text-transform: uppercase;
    }
    
    .top-infocard-title{
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 48px;
        text-transform: uppercase;
    }
    
    .top-infocard-description{
        font-size: 16px;
        line-height: 24px;
    }
    
    .top-cards{
        display: grid;
        grid-template-columns: repeat(3, max-content);
        justify-content: center;
        gap: 20px;
        padding: 74px 0;
    }
    
    .top-card{
        background: #ffffff;
        box-shadow: 0px 4px 20px rgba(0, 0 ,0, 0.23);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:26px 26px 34px;
    }
    
    .top-card-image{
        display: block;
        margin-bottom: 26px;
    }
    
    .top-card-description{
        max-width: 300px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

    .bottom-cards{
        display: grid;
        grid-template-columns: repeat(3, max-content);
        justify-content: center;
        gap: 20px;
        padding: 74px 0;
    }

    .bottom-card{
        background: #ffffff;
        box-shadow: 0px 4px 20px rgba(0, 0 ,0, 0.23);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:26px 26px 34px;
    }

    .bottom-card-image{
        display: block;
        margin-bottom: 26px;
    }

    .bottom-card-description{
        max-width: 300px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }

    .bottom-infocard{
        padding: 142px 0 180px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .bottom-infocard-text{
        max-width: 550px;
    }
    
    .bottom-infocard-title{
        font-weight: 600;
        font-size: 32px;
        line-height: 1;
        margin-bottom: 18px;
    }
    
    .bottom-infocard-description{
        line-height: 24px;
        font-size: 16px;
    }
    
    .page-footer{
        padding: 38px 0;
        flex-direction: column;
        align-items: center;
        display: flex;
        background: #000000;
    }
    
    .footer-icons{
        display: flex;
        list-style: none;
        margin-bottom: 16px;
    }
    
    .footer-icon{
        margin: 0 8px;
    }
    
    .footer-text{
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        color: #BDBDBD;
    }
}
    
    @media screen and (max-width: 414px){
        .main-banner-desktop{
            display: none;
        }
    }
    
    @media screen and (min-width: 415px) {
        .main-banner-mobile{
            display: none;
        }
    }

    @media screen and (max-width: 700px){

        .bottom-infocard{
            flex-direction: column-reverse;
        }

        .bottom-infocard-image-desktop{
            display: none;
        }

        .bottom-infocard-image-mobile{
            width: 100%;
            height: 414px;
        }

        .bottom-infocard-text{
            margin-top: 51px;
        }
    }

    @media screen and (min-width: 701px){
        .bottom-infocard-image-mobile{
            display: none;
        }
    }
    
    @media only screen and (max-width: 768px){
        .top-cards{
            grid-template-columns: 1fr;
            padding:36px 26px;
        }

        .bottom-cards{
            grid-template-columns: 1fr;
            padding:36px 26px;
        }
    
        .page-footer{
            padding-bottom: 26px;
        }
    
        .footer-text{
            max-width: 280px;
            text-align: center;
        }

        .bottom-infocard{
            margin-top: 80px;
        }
        
        .bottom-infocard-image-mobile{
            width: 100%;
            height: 414px;
        }
    }
    
    @media screen and (max-width: 992px) {
        .top-infocard{
            flex-direction: column;
            padding: 84px 26px 80px;
        }
    
        .top-infocard-text{
            margin: 0 0 68px;
        }
    
        .top-infocard-subtitle{
            font-size: 28px;
        }
    
        .top-infocard-title{
            margin-bottom: 20px;
            font-size: 28px;
        }
    
        .top-infocard-image{
            width: 100%;
            max-width: 240px;
        }
    
        .bottom-infocard{
            padding: 0 0 0;
            margin: 80px 0 163px;
        }
    
        .bottom-infocard-image{
            margin: 0 0 50px;
            width: 100%;
            max-width: 596px;
        }
    
        .bottom-infocard-text{
            padding: 0 26px;
        }
    
        .bottom-infocard-title{
            font-size: 24px
        }
    }
    
    @media screen and (min-width:769px) and (max-width: 1200px){
        .top-cards{
            grid-template-columns: repeat(2, max-content);
        }

        .bottom-cards{
            grid-template-columns: repeat(2, max-content);  
        }
    }
    
    
    @media screen and (min-width: 993px) and (max-width: 1280px){
        .top-infocard-text{
            max-width: 520px;
        }
    
        .bottom-infocard-image{
            max-width: 480px;
        }
    
        .bottom-infocard-text{
            max-width: 400px;
        }
    }

@media screen and (min-width:769px) and (max-width: 1200px){
    .top-cards{
        grid-template-columns: repeat(2, max-content);
    }

    .bottom-cards{
        grid-template-columns: repeat(2, max-content);
    }
}
